#teste{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Container3{

}

#Container4{
    background: rgba(198, 235, 191, 0.75);
    border-top: 5px solid rgba(198, 235, 191, 1);
    border-bottom: 5px solid rgba(198, 235, 191, 1);
}

/*.imgCardContainer3{*/
/*    border-radius: 100%;*/
/*    min-height: 8rem !important;*/
/*    width: 8rem !important;*/
/*    background: #83ca86;*/
/*}*/

#Container5{
    height: auto;
}

#Container6 {
    height: 500px;
    background: #497c4c;
}

#Container7 {
    height: auto;
}