.containerPadrao{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.5rem;
}

.containerPadrao > h1,
.containerPadrao > h2,
.containerPadrao > h3,
.containerPadrao > h4,
.containerPadrao > h5,
.containerPadrao > h6 {
    min-width: 100%;
    font-family: "Droid Serif";
    font-weight: 600;
    line-height: 1.3em;
    margin-top: 0.6667em;
    margin-bottom: 0.4em;
    letter-spacing: 0.25rem;
}

.containerPadrao > p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.62em;
}