.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
}
.cardServicos {
    display: block;
    white-space: normal !important;
}

.menu-item-wrapper.active {

}
.menu-item.active {
    /*border: 1px green solid;*/
}

.scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .scroll-menu-arrow {
        display: none;
    }
}